<h1>All our Flats (<%= @flats.length %>)</h1>
<div class= "card-container">
  <% @flats.each do |flat| %>
  <div class= "card">
    <div class="card-header">
      <h3><%= flat.name %></h3>
      <p><%= flat.address %></p>
      <div class="list-inline">
        <li class="list-inline-item"><i class="fas fa-user"></i></li>
        <li class="list-inline-item"><%= flat.number_of_guests %></li>
        <li class="list-inline-item"><i class="fas fa-euro-sign"></i></li>
        <li class="list-inline-item"><%= flat.price_per_night %></li>
      </div>
    </div>
    <div class="card-body">
      <%= link_to "More info", flat_path(flat) %>
    </div>
  </div>
  <% end %>
</div>





